*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

h1{ font-size: 3.2em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

button{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #000000;
    box-shadow: 2px 2x 10px rgba(0, 0, 0, 0, 5);
    color: #FBB900;
    background-color: #000000;
}

button:hover{
    
    transform: scale(1.3);
}

.container{
    max-width: 1300px;
    margin: auto;
}

.colorazul{ color: #004388;} 
.colorama{ color: #FBB900;}

header{
    background-color: #FBB900;
    height: auto;

}

header nav{
    display: flex;
    flex-direction:column;
    text-align: center;
    padding-bottom: 25px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    color:#0F366A ;
    font-size: 1em;

}

.logo img{
    height: 65px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #0F366A;
    font-weight: 600;
    padding-right: 15px;
    font-size: 1.2em;
}

nav a:hover{
    color: #ffffff;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh; 
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    )
    ,url("media/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#qsomos .container{
    text-align: center;
    padding: 200px 12px;
}

#areas{
    background-color: #252525;
    color: white;
    text-align: center;
}

#areas .container{
    padding: 150px 15px;
}



#areas p{
    display: none;
}

#areas h2{
    margin-top: 0;
    font-size: 3.2;
}



#areas .carta{
    background-position: center center;
    background-size: cover;
    padding: 70px;
    margin: 20px;
    border-radius: 15px;

}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    )
    ,url("media/comu.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    )
    ,url("media/admi.jpg");

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    )
    ,url("media/inge.jpg");
}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    )
    ,url("media/empren.jpg");
    
}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    )
    ,url("media/edu.jpg");
    
}

#proyectos .container{
    text-align: center;
    padding: 200px 15px;
}


#contacto a{
    font-size: 40px;
    align-self: center;
    margin: 0px 19px;
    color: #FBB900;
    text-align: center;
    padding-bottom: 30px;

}

#contacto .container{

    display: flex;
    justify-content: space-around;
    align-items: center;
}


#contacto a:hover{
    transform: scale(1.5);
}

footer{
    background-color: #FBB900;
    margin: 0;
    padding: 12px;
}

footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #004388;

}


@media (min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding: 0cm;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0%;
        padding-right: 20px;
    }

    #qsomos .container{
        display: flex;
        justify-content: space-evenly;


    }

    #qsomos .texto{
        width: 60%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        padding-left: 30px;

    }

    #qsomos .img-container{
        background-image: url("media/si.PNG");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 350px;

    }

    #qsomos h2{
        margin-top: 0px;
    }

    #hero h1{
        font-size: 5em;

    }

    #areas .areast{
        display: flex;
        overflow: auto;
    }




}